html {
  /* background-color: whitesmoke; */
  background-color: #d9ae89;
background-image: url("https://www.transparenttextures.com/patterns/debut-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.banner {
  background-color: #89D9C2;
}

h3 {
  color: black;
}

.blurred {
  box-shadow: 0 0 8px 8px #d9ae89;
}

.sticky {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1250px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
}

.hero.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: .5rem;
}

.split-2-even {
  display: flex;
  justify-content: space-between;
}

.columns-3 {
  display: flex;
  justify-content: space-between;
}

.landingImage {
  height: 500px;
  z-index: 0;
}

.landingText {
  z-index: 1;
}

.spacer {
  height: 4rem;
}

.accent {
  color: #44AFF2;
}